.signUpPage-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.signUpPage-description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

.signUpPage-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 80px auto;
}

.signUpPage-box {
    display: flex;
    background-color: white;
    color: black;
    flex-direction: column;
    justify-content: space-around;
    height: 650px;
    text-align: center;
    min-width: 500px;
    max-width: 600px;
    border-radius: 20px;
    font-weight: bold;
}

.signUpPage-form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.signUpPage-enterForm {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    max-height: 100px;
    margin: auto;
    gap: 10px;
}

.signUpPage-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 20px;
}

.signUpPage-input {
    width: 300px;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-sizing: border-box; 
    background-color: #f8f8f8; 
    color: #333; 
    font-size: 16px; 
}

.signUpPage-button1 {
    background-color:white; 
    color: black; 
    padding: 12px 25px; 
    font-size: 16px; 
    border: 2px solid black; 
    border-radius: 20px; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s, color 0.3s; 
}

.signUpPage-button2 {
    background-color: white; 
    color: black; 
    padding: 12px 55px; 
    font-size: 16px; 
    border: 2px solid black; 
    border-radius: 20px; 
    text-transform: uppercase; 
    font-weight: bold; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s, color 0.3s; 
}

.signUpPage-button1:hover {
    background-color: black; 
    color: white;
    border: 2px solid black;
}

.signUpPage-button2:hover {
    background-color: #34A853; 
    color: white;
    border: 2px solid #34A853;
}

.signUpPage-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin-top: -10px;
}

.signUpPage-text h4 {
    font-size: 25px;
}

.signUpPage-error {
    color: red; 
    background-color: #ffecec;
    border-radius: 5px; 
    text-align: center; 
    font-weight: bold; 
    text-transform: uppercase;
    width: 400px;
    max-width: 450px;
    align-self: center;
    max-height: 100px;
  }
