div .title {
    display: flex;
    text-align: center;
} 

.content {
    display: flex;
    justify-content: space-between;
    margin-top: -300px;
    flex-direction: row;
    align-items: center;
}

.box-description {
    display: flex;
    max-width: 900px;
    margin-left: 50px;
}

.guy-stairs {
    display: flex;
    margin-top: 500px;
    margin-right: 250px;
}

@media (max-width: 950px) {
    
    .content{
        flex-wrap: wrap;
    }

    .box-description {
        margin-right: 50px;
    }
}