.dasboardProfilePage-title {
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-weight: bold;
}

.dasboardWelcomePage-description {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 75px;
}

.dasboardProfilePage-mainContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.dasboardProfilePage-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
    text-transform: uppercase;
}

.dasboardProfilePage-info h4 {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.dasboardProfilePage-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

.dasboardProfilePage-info-row p {
    color: #FAE347;
}

.dasboardProfilePage-rectangle {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
    width: 250px;
    align-items: baseline;


}
