
.faqpage-header {
    text-align: center;
    font-size: 50px;  /*QUESTION*/
}

.faqpage-aricle {
    margin:auto;
    text-align: center;
    max-width: 800px;
}

.faqpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px; 
}

.faqpage-wrapper {
    height: 600px;
    width: 500px;

}

.faqpage-accordion {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faqpage-item {
    background: black;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.faqpage-title {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faqpage-title h2{
    width: 300px;
}

.faqpage-content {
    color: white; 
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0,1,0,1);
    box-sizing: border-box;
}

.faqpage-content-show {
    color: white; 
    height: auto;
    max-height: 9999px;
    transition: all 0.3s cubic-bezier(1,0,1,0);
    box-sizing: border-box;
}

.faqpage-dot-active {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background-color: #B9DCE1; 
    color: white; 
    font-size: 15px; 
    box-sizing: border-box;
    text-align: center;
}


.faqpage-dot {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background-color: white; 
    color: black; 
    font-size: 15px; 
    box-sizing: border-box;
    text-align: center;
}

.faqpage-item:hover {
    background-color: #FAE347;
    border: 3px solid white;
    border-radius: 1rem; 
}


