
.cookiePolicyPage-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.cookiePolicyPage-description {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.cookiePolicyPage-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.cookiePolicyPage-box img {
    display: flex;
    align-self: center;
    width: 400px;
    height: 400px;
}

.cookiePolicyPage-content {
    max-width: 500px;
}

.cookiePolicyPage-content-active {
    max-width: 500px;
    font-weight: bold;
}

.cookiePolicyPage-rectangle {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 10px;
    align-self: center;
}

.cookiePolicyPage-rectangle-active {
    display: flex;
    border: 3px solid white;
    background-color: #FAE347;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-top: 10px;
    align-self: center;
}

.cookiePolicyPage-rectangle h4 {
    margin-left: 15px;
    margin-left: 15px;
}

.cookiePolicyPage-rectangle p {
    margin-left: 15px;
    margin-left: 15px;
}

.cookiePolicyPage-rectangle-active h4 {
    margin-left: 15px;
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

.cookiePolicyPage-rectangle-active p {
    margin-left: 15px;
    margin-left: 15px;
    color: black;
    font-weight: bold;
}

@media (max-width: 996px) {
    .cookiePolicyPage-box img {
        display: flex;
        align-self: center;
        width: 400px;
        height: 400px;
        margin-top: 30px;
    }
}