.dashboardNotesCreatePage-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dashboardNotesCreatePage-content input {
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid;
    border-radius: 10px;
    outline: none;
}

.dashboardNotesCreatePage-content button {
    padding: 10px;
    background-color: black;
    color:white;
    cursor: pointer;
}