.middleDisc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    /*flex-wrap: wrap;*/
}

.description {
    display: flex;
    align-self: center;
}

.mainGuy {
    display: flex;
    align-self: center;
    width: auto;
    height: auto;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.loginBtn {
    padding: 1rem 2rem; 
    border: none; 
    border-radius: 1rem; 
    font-size: 1rem; 
    cursor: pointer; 
    background-color: white;
}

.signUpBtn {
    padding: 1rem 2rem; 
    border: 2px solid white;
    border-radius: 1rem; 
    font-size: 1rem; 
    cursor: pointer;
    background-color: black;
    color: white;
}