.dashboardAddClassesPage-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: black;
}

.dashboardAddClassesPage-add-classes {
    padding: 20px;
}